/* Body */

body {
  font-family: 'Lucida Sans', sans-serif;
  margin: 10px;
  text-align: center;
  background: linear-gradient(to right bottom, #ffffff, #9ea0b4);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-size: 5em;
  font-family: 'Times New Roman', Times, sans-serif;
}

h2 {
  font-size: 3em;
  font-style: italic;
}

/* Header */

header {
  border-bottom: 1px solid black;
}

#photo {
  height: 300px;
  transform: rotate(270deg);
  background-image: url("./images/photo.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 40px;
}

#logo {
  height: 200px;
  background-image: url("./images/logo-simplon.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 10px;
  box-shadow: 3px 3px 3px #000000;
  border-radius: 20%;
}

.icons {
  font-size: 2em;
  list-style: none;
}

header p {
  margin: 50px;
}

/* Nav */

nav ul li {
  height: 200px;
  border: 1px solid black;
  margin-bottom: 10px;
  margin-top: 20px;
  background-color: #ffffff;
  font-size: 1.5em;
  list-style: none;
}

nav ul li:hover {
  box-shadow: 3px 3px 3px #000000;
}

nav ul li article {
  border-bottom: 1px solid black;
}

nav ul li p {
  height: 140px;
  margin-top: 5px;
  background-image: url("./images/logo-simplon.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

#pokemon {
  background-image: url("./images/pokeball.jpg");  
}

/* Footer */

footer {
  border-top: 1px solid black;
  padding-top: 20px;
}

footer ul li {
  font-size: 1.2em;
  list-style: none;
}